@import url('https://fonts.googleapis.com/css?family=Monoton');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ef4036;
}

h1{
    font-family: "Monoton", Helvetica, sans-serif;
    display: inline;
    font-size: 5.5rem;
    font-weight: 200;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100vw;
    height: auto;
    padding: 1rem;
    background-image: url("/pokebola-go.png.crdownload");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 150px;
    perspective: 1000px;
    cursor:pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1rem;
}
.flip-card-front{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}
